<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RankerRunPeriodMins" value="15" />
    <add key="FasionTbsrRankingType" value="PopularitySimilarity"/>
    <add key="DataSerializer" value="Artemis.Core.JsonSerializer, Artemis.Core" />
    <add key="DocDbAuthKey" value="wpqYcq0HQ3iCCM9yuxOBBBRC5+M5LTiSMuSIyErymL/PG/Rm6oEZoeAQaLeniznjCMukfw+xUNW/Q4sxr0R+MQ==" />
    <add key="DocDbCollection" value="ModelItemsTest" />
    <add key="DocDbEndpoint" value="https://artemisdocdb.documents.azure.com:443/" />
    <add key="DocDbName" value="Artemis" />
    <!-- TODO: Use a different key for testing? -->
    <add key="EmbedlyKey" value="4902462c568a48508c7c34a007874890" />
    <add key="LocalWorkingFolder" value="C:\Work\ArtemisTemp" />
    <add key="MaxWebEngineRequests" value="20" />
    <add key="MessageQueueEngine" value="Artemis.Core.Messaging.ServiceBusQueue, Artemis.Core" />
    <add key="MessageQueueLinks" value="Artemis.Spy.FeedExtractor-&gt;Artemis.Extract.ExtractWorkerRole" />
    <add key="ServiceBusConnectionString" value="Endpoint=sb://artemisqueue.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=tFx/R0WmK+lixkYphuwTSQ3byHfFM6hvgfNxfqsRQlQ=" />
    <add key="StorageEngine" value="Artemis.Core.Storage.LocalStorage, Artemis.Core" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>